<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular 2 - Base Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <my-app>Loading...</my-app>

    <script>
        // TODO: find a definitive solution to this
        // Fixes undefined module function in SystemJS bundle
        function module() {}
    </script>

    <!-- IE required polyfills, in this exact order -->
    <!-- shims:js -->
    <!-- endinject -->
    <!-- End of IE required polyfills -->

    <!--  TODO: remove the need to do this template thing -->
    <% if (ENV === 'dev') { %>
    <script>
        System.config({
            "defaultJSExtensions": true
        });
    </script>
    <% } %>

    <!-- libs:js -->
    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->

    <!--  TODO: remove the need to do this template thing -->
    <% if (ENV === 'dev') { %>
    <script>
        System.import('js/main')
                .then(null, console.error.bind(console));
    </script>
    <% } %>

</body>
</html>